/*  
    storing frequently used colors, for easy maintainability
*/
:root {
    --main-bg-color: #1e212d;
    --main-text-color: #c5c6c7;
}

* {
    font-family: Consolas;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

#visualizer {
    justify-content: center;
    display: flex;
    padding-bottom: 40px;
    flex-grow: 1;
    width: 100%;
}

.bar {
    background: #3299ae;
    width: 20px;
    margin-right: 1px;
    position: relative;
    border-radius: 2px;
}

.sorted {
    background: rgb(30, 175, 20);
    width: 20px;
    margin-right: 1px;
    position: relative;
    border-radius: 2px;
}

/*
    TODO: 
        Button style
        Slide style
        Select style
        Top bar class
        Visualizer class
*/