/*  
    storing frequently used colors, for easy maintainability
*/
:root {
    --main-bg-color: #1e212d;
    --main-text-color: #c5c6c7;
}

* {
    font-family: Consolas;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

input[type="range"] {
    width: 150px;
}

#visualizer {
    justify-content: center;
    display: flex;
    padding-bottom: 40px;
    flex-grow: 1;
    width: 100%;
    height: 305px;
}

.bar {
    background: #3299ae;
    width: 20px;
    margin-right: 1px;
    position: relative;
    border-radius: 2px;
}

.sorted {
    background: rgb(30, 175, 20);
    width: 20px;
    margin-right: 1px;
    position: relative;
    border-radius: 2px;
}

#settings {
    justify-content: center;
    display: flex;
    width: 100%;
}

button {
    padding: 7px;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    margin: 10px;
}

button:hover {
    padding: 7px;
    margin: 10px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

select {
    padding: 5px;
    margin: 10px;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border-radius: 5px;
}

select:hover {
    padding: 5px;
    margin: 10px;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border-radius: 5px;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

div.range-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#start-btn-wrapper {
    justify-content: center;
    display: flex;
    width: 100%;
}

/*
    TODO: 
        Button style
        Slide style
        Select style
        Top bar class
        Visualizer class
*/